*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




body {
  background-color: rgb(55, 45, 109);
  text-align: center;
  color: rgb(255, 251, 251);
}

button {
  border-color: black;
  border-style: outset;
  border-radius: 4px;
  text-decoration: solid;
}

li {
  list-style: none;
}

#container{
  width: 290px;
  text-align: center;
  height: auto;
  margin: 4px auto;
}

#calculadora{
  width: 234px;
  margin: 230px;
  margin: 0 auto;
  padding: 2px;
  background-color: #29c269;
}

.input-valor{
  margin: 8px auto;
  width: 95%;
  height: 30px;
  font-size: 16px;
  overflow: hidden;
  text-align: right;2
  color: #1b1616;
  padding: 4px;
  background-color: #fff;
  box-shadow: inset -1px -1px 4px -1px #eee;

}

.key li {
  width: 45px;
  height: 30px;
  border-radius: 3px;
  color: #afff;
  background-color: #010897;
  cursor:pointer;
  float: left;
  margin: 0px 3px 5px 8px;
  line-height: 30px;
  text-align: center;
  box-shadow: 0px 3px 1px 0px #29c269;
}

.key li:hover{
  background-color: #bef9f0;
  color: #6c73fa;
  transition: 0.2s;

}

.key li:active{
  box-shadow: 0px 1px 1px 0px #444651;
}

.verificar{
  width: 93.4% !important;
}